<h1>Mi primer juego en Angular</h1>
<h2>Tres en raya</h2>
<button mat-raised-button (click)="pintar(0, 0)">{{ posiciones[0][0] }}</button>
<button mat-raised-button (click)="pintar(0, 1)">{{ posiciones[0][1] }}</button>
<button mat-raised-button (click)="pintar(0, 2)">{{ posiciones[0][2] }}</button>
<br />
<button mat-raised-button (click)="pintar(1, 0)">{{ posiciones[1][0] }}</button>
<button mat-raised-button (click)="pintar(1, 1)">{{ posiciones[1][1] }}</button>
<button mat-raised-button (click)="pintar(1, 2)">{{ posiciones[1][2] }}</button>
<br />
<button mat-raised-button (click)="pintar(2, 0)">{{ posiciones[2][0] }}</button>
<button mat-raised-button (click)="pintar(2, 1)">{{ posiciones[2][1] }}</button>
<button mat-raised-button (click)="pintar(2, 2)">{{ posiciones[2][2] }}</button>
<br />
<br />
<button mat-raised-button color="accent" (click)="reiniciar()">
  REINICIAR
</button>
<p>Número de jugadas: {{ num_jug }}</p>
